.searchBar{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:1%;
    padding-right: 1%;
    height: 50px;
    background-color: rgb(204, 255, 128);
}
.search {
    float: right;
}

p{
    float: left;
    font-size: 16px;
    color: black;
}

.fullpage{
    overflow:hidden;
}

.options{
    width: 25%;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    color: black;
}

.options button{
    background-color: rgb(204, 255, 128);
    margin-left: 33%;
}

.resultChunk{
    overflow: hidden;
    margin-top: 5%;
    margin-left: 40%;
}
.result{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

.resultSec{
    overflow: hidden;
    margin-top: 5%;
    margin-left:45%;
}